* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

/*Login Container*/ 
.LoginContainer {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  }
  .div-LoginInner{
    background-color:honeydew ;
    width: 450px;
    max-width: 500px;
    padding: 25px 80px;
    box-shadow: 15px 20px 30px 0px;
  
  }


/*NavBar Section*/
.containerBox {
  background-color:steelblue;
  width: 100%;
  min-height: 100vh;
}

.navbarHead{
  height: 60px;
  display:flex;
  background-color:black;
  
}
.div1navbarLogo{  
  display: flex;
  justify-content: center;
  align-items: center;
  flex:50%;
}
.navbarLogo a{
  color:dodgerblue;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
}
.div2afterLogo{
  display: flex;
  flex:50%;
}

.div2afterLogo > div:hover {
  border: 2px solid blue;
}
.div2afterLogo > div > a{
 
  float: left;
  padding:15px 20px;
  color:dodgerblue;
  transition: all 0.5s ease-out;
}
.div2afterLogo > div > a:hover{
  text-decoration: none;
  color:white;
}

#userNameText{
  color:dodgerblue;
  font-weight: bold;
  user-select: none;
  padding:15px 20px;
}

.dropdown {
  padding:15px 0;
  cursor: pointer;
  color: dodgerblue;
  border: none;

}

div.dropdown-menu.show{
   margin:0px 0px;
   padding: 0px 0px;
}
div.dropdown-item{
  padding:10px 10px;
}
div.dropdown-item a{
text-decoration: none;
}
div.dropdown-item a:hover{
  color:blue;
  }
div.dropdown-item:hover{
  text-decoration: none;
  background-color:lightgray;
   
  }

/*Product Entry Section*/
.productEntryComponent{
  min-height:90vh;
  text-transform: uppercase;
  background-color:darkkhaki;
  padding: 30px 80px;
  }
  
  .entry-full-section{
    display: flex;
    font-size: 14px;
    background-color:darkkhaki;
    letter-spacing: 0.5px;
    border: 1px dotted steelblue;
    padding: 50px 20px 20px 50px;
    z-index: 2;
  }
  .entry-left-section{
   flex: 50%;
   border-right: 0.3px solid lightgray;
   
  }
  .entry-right-section{
    padding-left: 80px;
    flex: 50%;
  }
  .entry-right-section img{
    max-width:400px;
    object-fit: cover;
  }
  
  @media screen and (max-width:1000px) {
    .entry-full-section{
      display:flex;
      flex-direction: column;
      }
      .entry-left-section{
        border: none;
        flex: 100%;
      }
      .entry-right-section{
        padding:0;
        flex: 100%;
       background-color:honeydew;
      }
      .entry-right-section img{
        max-width:200px;
        object-fit: cover;
      }
    }
    @media screen and (max-width:500px){
      .entry-full-section{
        padding: 5px;
      }
      }

/*Cart Items and Card List Section - Product Purchase Selection*/
.orderContainer {
  position: relative;
  min-height:100vh;
  display: flex;
}
.o-container1 {
  flex: 70%;
}
.o-container2 {
  flex: 30%;

}

.div-Cart {
  text-align: center;
  min-height: 300px;
  background-color: lightgrey;
  margin-top:20px;
  margin-right:20px;
  box-shadow: 1px 2px 12px 0px darkgrey;
  z-index: 2;
 
}

.cartTable {
  margin: auto;
}
.cartTable th {
  border: 2px solid blue;
  color: blueviolet;
}

.cartTable tr td {
  border: 2px solid blue;
  color: blue;
}
.cardAlignment {
  margin-left: 40px;
}

.card {
  width: 250px;
  max-height: 300px;
  min-height: 300px;
  float: left;
  margin-right: 15px;
  text-align: center;
  margin-top: 15px;
}

.card-text {
  color: blue;
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
}
.shoppingCartLogo{
  position: absolute;
  right: 10px;
  transform: translateY(-120%);
}

/*Customer Payment Registration and Card Table*/
.cardUserPage{
  background-color:honeydew;
  min-height: 90vh;
  text-transform: uppercase;
  padding:30px 0;
}

.cardUserPage-Full-Section{
  background-color:honeydew;
  display: flex;
  min-height: 50vh;
}
.cardUserPage-Left-Section{
  background-color:honeydew;
  flex: 70%;
  padding: 30px 80px;
  border-right: 1px solid lightgray;
}

.cardUserPage-Left-Section table{
  width: 100%;
  text-align: center;
}
.cardUserPage-Left-Section table thead{
  font-weight: normal;
  font-size: 14px;
  background-color: khaki;
}
.cardUserPage-Left-Section table tbody{
  background-color: lavender;
}

.payment-table-below{
  background-color:lightgreen;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 50px;
  box-shadow: 2px 5px 20px;
}
.cardUserPage-Right-Section{
background-color: honeydew;
padding: 30px 80px;
flex: 30%;
}

@media (max-width:750px){
  .cardUserPage-Full-Section{
    display: flex;
    flex-direction: column-reverse;
  }
}





/*Adding New Category and Product - Section*/
.newCategory {
  width: 50%;
  margin: auto;
  background-color:honeydew;
  min-height: 110vh;
  text-transform: uppercase;
  padding: 1px 50px;
}

/*Adding New Product Section*/
.newProducts {
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding:30px 50px;
  background-color:honeydew;
  text-transform: uppercase;
}
.newProducts select, input[type="text"]{
  max-width: 300px;
}
.div-preview-img{
  width: 50%;
  height: 200px;
  border:1px solid blue;
  margin:auto;
}
.div-preview-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Stock Price Editable Page*/
.div-EditStockPrice{
  width: 50%;
  min-height: 110vh;
  margin: auto;
  padding: 20px 100px;
  text-transform: uppercase;
  background-color: honeydew;
}
.div-EditStockPrice select{
  max-width: 300px;
}
#DynamicLabel{
 margin-left: 50px;
  
  
}


  
/* Payment-Page Section */

.div-PaymentPage{
  background-color:honeydew;
  width:50%;
  min-height: 90vh;
  margin:auto;
  padding: 30px 80px;
  text-transform: uppercase;
  }
  .div-PaymentPage .div-CustInfo{
    background-color:lightskyblue;
    max-width: 380px;
    margin-bottom: 30px;
    padding: 30px 40px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.6);
  }
  
  .div-PaymentPage .div-CustInfo span{
   color: blue;
   font-weight: bold;
  }
  .div-PaymentPage select{
    max-width: 300px;
  }

/*Reversal-Page Section*/
.div-ReversalPage{
  background-color:honeydew;
  width:50%;
  margin: auto;
  min-height: 90vh;
  padding: 20px 50px;

}

.div-ReversalPage select{
  max-width: 250px;
  margin-bottom: 20px;
}
.div-ReversalPage input[type="text"]{
  max-width: 250px; 
}
#ptagBillText{
  font-weight: bold;
  color:blue;
}

/*SizeAdd-Page Section*/
.div-Adding-Size{
  background-color:honeydew;
  width:50%;
  margin: auto;
  min-height:110vh;
  padding: 50px;
  text-transform: uppercase;
}

/*CustomerAccount-Page Section*/
.div-CustomerAccountPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height:90vh;
  padding: 10px 50px;
  text-transform: uppercase;
  letter-spacing:0.2px;
}
.div-CustomerAccountPage #labelValue{
  color:blue;
}
.div-CustomerAccountPage input[type="text"]{
  display: inline-block;
}

/*Get All Pending Bills - Page*/
.div-GetPendingBillsPage{
  background-color:honeydew;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 20px 50px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.div-GetPendingBillsPage input[type="text"]{
  max-width: 250px;

}
.div-GetPendingBillsPage label{
  margin-right: 10px;
  letter-spacing: 1.5px;
}
.div-GetPendingBillsPage input[type="radio"]{
  margin-right: 5px;
}

.div-GetPendingBillsPage table{
  margin:30px 0;
  width: 100%;
  text-align: center;
  
  
}
.div-GetPendingBillsPage table thead{
  background-color:black;
  color: dodgerblue;
  letter-spacing: 0.5px;
}



/*ReprintBill - Page Section*/
.div-ReprintBillPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  height: 90vh;
  padding: 30px 100px;
  text-transform: uppercase;
}
.div-ReprintBillPage label{
  min-width: 150px;
  }
  .div-ReprintBillPage input[type="text"]{
    max-width:200px;
  }

/*Receipt voucher - Page Section*/
.div-ReceiptVoucherPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}


/*GlobalCash Position- Page Section*/
.div-CashPositionPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  height: 90vh;
  padding: 30px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  }
  .div-CashPositionPage #div-Cash{
    text-align: center;
    font-weight: bold;
    color: steelblue;
    font-size: 30px;
  }



/*GlobalCash Credit _page */
.div-GlobalCashCreditPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}



/*GlobalCash Debit _page */
.div-GlobalCashDebitPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}

/*Lis of all ModifiedBills - Page*/

.div-ModifiedBillsPage{
  background-color:honeydew;
  width: 60%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}
.div-ModifiedBillsPage table{
  width: 100%;
  margin-top: 50px;
  text-align: center;
 
  
}

.div-ModifiedBillsPage table thead{
  background-color: black;
  color:dodgerblue;
}
.div-ModifiedBillsPage table tbody tr{
  border-bottom: 0.5px solid lightgrey;
}

/*ViewTemplate01 - Page*/
.div-ViewTemplate01{
 text-transform: uppercase; 
 margin: auto;
 background-color:honeydew;
 width: 60%;
 min-height: 90vh;
 padding:30px 0px;
}

.viewTemplate01-flexbox-section{
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px;
}


/* ViewTemplate02 - Page*/
.div-ViewTemplate02{
  background-color:honeydew;
  width:60%;
  min-height: 90vh;
  margin: auto;
  padding: 30px 120px;
  text-transform: uppercase;
}
.div-ViewTemplate02 input[type="text"]{
  max-width: 200px;
}


/*Custom Modal Class Creation */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 800px;
  min-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color:darkslateblue;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: darkslateblue;
  color: white;
}

.modal table{
  width: 80%;
  margin: auto;
}
.modal table thead{
  background-color: black;
  color: dodgerblue;
  font-size: 15px;
}
.modal table tbody{
font-size: 15px;
}
  

/* HTML Canvas - Print Area Design - Invoice */
    #printAreaH{
    position:absolute;
    bottom:1200px;
    min-width:800px;
    min-height: 1500px;
    background-color:yellow;
    /*Its hidden below of User-Card Page */
    }
    
     .dynamicDiv{
       background-color: cadetblue;
       color:darkblue;
       font-size: 16px;
      }
    
      .dynamicDiv .content-head{
        height:80px;
        background-color: coral;
        text-align: center;
      }
    
       /*Customer Details and Invoice No and Date*/
      .dynamicDiv .div2-Section{
        display: flex;
        height: 100px;
        background-color: greenyellow;
        padding: 20px;
        overflow: hidden;
      }
      .div2-Section .div-Cust{
       color:green;
       flex:50%;
       padding-left: 20px;
      }
      .div2-Section .div-Date{
        color:green;
        flex:50%;
        margin-left: 100px;
      
      }
     
      /*Table present Inside this DIV */
      .dynamicDiv{
        padding: 30px;
      }
      .dynamicDiv .divTable table{
        width: 100%;
        padding: 25px;
        border: 1px solid #000;
        border-collapse: collapse;
      }
      .dynamicDiv .divTable td{
        background-color: #eee;
        padding:5px;
        text-align: center;
      }
      
      .divTableTotal{
        
        margin-left:550px;
        font-weight: bold;
        font-size: larger;
        margin-top:20px;
      }
     /*End of Print Area*/


/*PDF Table Creation - jsPDF */
.div-PDFTableCreation{
  background-color:darkcyan;
  width: 50%;
  margin: auto;
  height: 90vh;
  padding: 50px;
}