* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

/*NavBar Section*/
.containerBox {
  background-color:steelblue;
  width: 100%;
  min-height: 100vh;
}

.navbarHead{
  height: 60px;
  display:flex;
  background-color:black;
  
}
.div1navbarLogo{  
  display: flex;
  justify-content: center;
  align-items: center;
  flex:50%;
}
.navbarLogo a{
  color:dodgerblue;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
}
.div2afterLogo{
  display: flex;
  flex:50%;
}

.div2afterLogo > div:hover {
  border: 2px solid blue;
}
.div2afterLogo > div > a{
 
  float: left;
  padding:15px 20px;
  color:dodgerblue;
  transition: all 0.5s ease-out;
}
.div2afterLogo > div > a:hover{
  text-decoration: none;
  color:white;
}

#userNameText{
  color:dodgerblue;
  font-weight: bold;
  user-select: none;
  padding:15px 20px;
}

.dropdown {
  padding:15px 0;
  cursor: pointer;
  color: dodgerblue;
  border: none;

}

div.dropdown-menu.show{
   margin:0px 0px;
   padding: 0px 0px;
}
div.dropdown-item{
  padding:10px 10px;
}
div.dropdown-item a{
text-decoration: none;
}
div.dropdown-item a:hover{
  color:blue;
  }
div.dropdown-item:hover{
  text-decoration: none;
  background-color:lightgray;
   
  }
/**/

/*Placing Order Section*/
.orderContainer {
  position: relative;
  min-height:100vh;
  display: flex;
}
.o-container1 {
  flex: 70%;
}
.o-container2 {
  flex: 30%;

}

.div-Cart {
  text-align: center;
  min-height: 300px;
  background-color: lightgrey;
  margin-top:20px;
  margin-right:20px;
  box-shadow: 1px 2px 12px 0px darkgrey;
  z-index: 2;
 
}

.cartTable {
  margin: auto;
}
.cartTable th {
  border: 2px solid blue;
  color: blueviolet;
}

.cartTable tr td {
  border: 2px solid blue;
  color: blue;
}
.cardAlignment {
  margin-left: 40px;
}

.card {
  width: 250px;
  max-height: 300px;
  min-height: 300px;
  float: left;
  margin-right: 15px;
  text-align: center;
  margin-top: 15px;
}

.card-text {
  color: blue;
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
}
.shoppingCartLogo{
  position: absolute;
  right: 10px;
  transform: translateY(-120%);
}

/*Customer Payment Registration and Card Table*/
.cardUserPage{
  min-height:100vh;
  display:flex;
  }
  .cardSection{
  display:flex;
  padding:20px;
  flex-direction:column;
  flex:60%;
  background-color:lightblue;
  }
  
  /*.cardSection table{
  border-collapse:collapse;
  }
  table th{
  border:1px solid blue;
  }
  table tr td{
  border:1px solid blue;
  text-align:center;
  }*/
  #btnInfoStore{
  width:30%;
  padding:2px;
  margin-top:30px;
  align-self:flex-end;
  }
  .userSection{
  flex:40%;
  background-color:lightgreen;
  display:flex;
  flex-direction:column;
  }
  
  .userSection label{
  padding:5px 40px;
  }
  .userSection input[type="text"]{
  width: auto;
  margin:0px 40px;
  padding:3px;
  }
  
#btnCheckUserAvailable{
  margin:25px 40px;
  padding:5px;
  width:50%;

}

  #btnUserStore{
  margin:25px 40px;
  padding:5px;
  width:50%;
  }
  
  
  @media(max-width:600px)
  {
  .cardUserPage{
  display:flex;
  flex-direction:column;
  }
  }




/**/

/*Product Entry Section*/
.productEntryComponent{
min-height:100vh ;
}
#divHead {
  line-height: 50px;
  text-align: center;
}
#divBody {
  display: flex;
  background-color: lightyellow;
}
#left-Section {
  flex: 50%;
  margin-top: 50px;
  margin-left: 25px;
  font-weight: bold;
  flex-direction: column;
}
#right-Section {
  flex: 50%;
  background-color: lightblue;
}

#div4 {
  display: flex;
  margin-bottom: 25px;
}

#div4-1 {
  flex: 20%;
}

#div4-2 {
  flex: 30%;
  overflow: hidden;
}

#div4-3 {
  flex: 15%;
  text-align: right;
}

#div4-4 {
  flex: 25%;
  text-align: center;
}

#selectCategory {
  width: 100%;
  height: 35px;
}

input[type='text'] {
  box-sizing: border-box;
  width: 100%;
}
input[type='file'] {
  width: 100%;
}

/* My Custom Modal Class Creation */

#modalBackground {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
#myModal {
  padding: 25px;
  width: 80%;
  height: 600px;
  background-image: linear-gradient(to top, pink, lightblue);
  margin: auto;
  box-shadow: 1px 8px 16px 2px lightseagreen;
}
#divModalClose {
  text-align: end;
  font-weight: bold;
  font-size: 40px;
}
#divModalClose span:hover {
  cursor: pointer;
  color: mediumblue;
}
#divModalHeader {
  display: flex;
}
#divModalHeader #searchTextBox {
  width: 50%;
}
#tableProductModal {
  margin-top: 50px;
  width: 50%;
}

/* #tableProductModal th,
td {
  border: 1px solid blue;
} */
/*Model Design End */

@media screen and (max-width: 855px) {
  #divBody {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  #divBody {
    display: flex;
    flex-direction: column;
  }
  #div4 {
    display: flex;
    flex-direction: column;
  }

  #div4 #div4-3 {
    text-align: left;
  }
  #div4 #div4-4 {
    text-align: left;
  }
}

/*Adding New Category and Product - Section*/
.newCategory {
  width: 50%;
  margin: auto;
  background-color:honeydew;
  min-height: 110vh;
  text-transform: uppercase;
  padding: 1px 50px;
}

/*Adding New Product Section*/
.newProducts {
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding:30px 50px;
  background-color:honeydew;
  text-transform: uppercase;
}
.newProducts select, input[type="text"]{
  max-width: 300px;
}
.div-preview-img{
  width: 50%;
  height: 200px;
  border:1px solid blue;
  margin:auto;
}
.div-preview-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Stock Price Editable Page*/
.div-EditStockPrice{
  width: 50%;
  min-height: 110vh;
  margin: auto;
  padding: 20px 100px;
  text-transform: uppercase;
  background-color: honeydew;
}
.div-EditStockPrice select{
  max-width: 300px;
}
#DynamicLabel{
 margin-left: 50px;
  
  
}
/*Login Container*/ 
.LoginContainer {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  }
  .div-LoginInner{
    background-color:honeydew ;
    width: 450px;
    max-width: 500px;
    padding: 25px 80px;
    box-shadow: 15px 20px 30px 0px;
  
  }

  /* Print Area Desing */


#printAreaH{
position:absolute;
bottom:1200px;
min-width:800px;
min-height: 1500px;
background-color:yellow;
    /*Its hidden below of User-Card Page */
}

 .dynamicDiv{
   background-color: cadetblue;
   color:darkblue;
   font-size: 16px;
  }

  .dynamicDiv .content-head{
    height:80px;
    background-color: coral;
    text-align: center;
  }

   /*Customer Details and Invoice No and Date*/
  .dynamicDiv .div2-Section{
    display: flex;
    height: 100px;
    background-color: greenyellow;
    padding: 20px;
    overflow: hidden;
  }
  .div2-Section .div-Cust{
   color:green;
   flex:50%;
   padding-left: 20px;
  }
  .div2-Section .div-Date{
    color:green;
    flex:50%;
    margin-left: 100px;
  
  }
 
  /*Table present Inside this DIV */
  .dynamicDiv{
    padding: 30px;
  }
  .dynamicDiv .divTable table{
    width: 100%;
    padding: 25px;
    border: 1px solid #000;
    border-collapse: collapse;
  }
  .dynamicDiv .divTable td{
    background-color: #eee;
    padding:5px;
    text-align: center;
  }
  
  .divTableTotal{
    
    margin-left:550px;
    font-weight: bold;
    font-size: larger;
    margin-top:20px;
  }
 /*End of Print Area*/
  
/* Payment-Page Section */

.div-PaymentPage{
  background-color:honeydew;
  width:50%;
  min-height: 90vh;
  margin:auto;
  padding: 30px 80px;
  text-transform: uppercase;
  }
  .div-PaymentPage .div-CustInfo{
    background-color:lightskyblue;
    max-width: 380px;
    margin-bottom: 30px;
    padding: 30px 40px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.6);
  }
  
  .div-PaymentPage .div-CustInfo span{
   color: blue;
   font-weight: bold;
  }

/*Reversal-Page Section*/
.div-ReversalPage{
  background-color:honeydew;
  width:50%;
  margin: auto;
  min-height: 90vh;
  padding: 20px 50px;

}

.div-ReversalPage select{
  max-width: 250px;
  margin-bottom: 20px;
}
.div-ReversalPage input[type="text"]{
  max-width: 250px; 
}
#ptagBillText{
  font-weight: bold;
  color:blue;
}

/*SizeAdd-Page Section*/
.div-Adding-Size{
  background-color:honeydew;
  width:50%;
  margin: auto;
  min-height:110vh;
  padding: 50px;
  text-transform: uppercase;
}

/*CustomerAccount-Page Section*/
.div-CustomerAccountPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height:90vh;
  padding: 10px 50px;
  text-transform: uppercase;
  letter-spacing:0.2px;
}
.div-CustomerAccountPage #labelValue{
  color:blue;
}
.div-CustomerAccountPage input[type="text"]{
  display: inline-block;
}

/*Get All Pending Bills - Page*/
.div-GetPendingBillsPage{
  background-color:honeydew;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 20px 50px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.div-GetPendingBillsPage input[type="text"]{
  max-width: 250px;

}
.div-GetPendingBillsPage label{
  margin-right: 10px;
  letter-spacing: 1.5px;
}
.div-GetPendingBillsPage input[type="radio"]{
  margin-right: 5px;
}

.div-GetPendingBillsPage table{
  margin:30px 0;
  width: 100%;
  text-align: center;
  
  
}
.div-GetPendingBillsPage table thead{
  background-color:black;
  color: dodgerblue;
  letter-spacing: 0.5px;
}



/*ReprintBill - Page Section*/
.div-ReprintBillPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  height: 90vh;
  padding: 30px 100px;
}
.div-ReprintBillPage label{
  min-width: 150px;
  }
  .div-ReprintBillPage input[type="text"]{
    max-width:200px;
  }

/*Receipt voucher - Page Section*/
.div-ReceiptVoucherPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}


/*GlobalCash Position- Page Section*/
.div-CashPositionPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  height: 90vh;
  padding: 30px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  }
  .div-CashPositionPage #div-Cash{
    text-align: center;
    font-weight: bold;
    color: steelblue;
    font-size: 30px;
  }

/*PDF Table Creation - jsPDF*/
.div-PDFTableCreation{
  background-color:darkcyan;
  width: 50%;
  margin: auto;
  height: 90vh;
  padding: 50px;
}

/*GlobalCash Credit _page */
.div-GlobalCashCreditPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}



/*GlobalCash Debit _page */
.div-GlobalCashDebitPage{
  background-color:honeydew;
  width: 50%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}

/*Lis of all ModifiedBills - Page*/

.div-ModifiedBillsPage{
  background-color:honeydew;
  width: 60%;
  margin: auto;
  min-height: 90vh;
  padding: 30px 80px;
  text-transform: uppercase;
}
.div-ModifiedBillsPage table{
  width: 100%;
  margin-top: 50px;
  text-align: center;
 
  
}

.div-ModifiedBillsPage table thead{
  background-color: black;
  color:dodgerblue;
}
.div-ModifiedBillsPage table tbody tr{
  border-bottom: 0.5px solid lightgrey;
}

/*ViewTemplate01 - Page*/
.div-ViewTemplate01{
 text-transform: uppercase; 
 margin: auto;
 background-color:honeydew;
 width: 60%;
 min-height: 90vh;
 padding:30px 0px;
}

.viewTemplate01-flexbox-section{
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px;
}


/* ViewTemplate02 - Page*/
.div-ViewTemplate02{
  background-color:honeydew;
  width:60%;
  min-height: 90vh;
  margin: auto;
  padding: 30px 120px;
  text-transform: uppercase;
}
.div-ViewTemplate02 input[type="text"]{
  max-width: 200px;
}


